.container{
    background-color:  rgb(155, 226, 226);
    color: rgb(192, 104, 94);
    height: 35vh;
}
.box{
    border: 2px solid black;
    transform: translate(1vw, 7vh) rotate(5deg);
    transform-origin: 0;
}
.box2{
    transform-origin: 0;
    transform: translate(0vw, -5vh) skew(4deg, 6deg);
    border: 5px solid green;
}
.image{
    display: inline-block;
    border: 10px solid yellow;
}
img{
    width: 500px;
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: ease-in;
}
img:hover{
    width: 200px;
}